/* STYLING RADIO PLAYER NEWS*/
/* STYLING RADIO PLAYER NEWS*/
/* STYLING RADIO PLAYER NEWS*/

#radioPlayerContainerNews {}

#radioPlayerNews {
    width: 100%;
    /* Vollständige Breite des Containers verwenden */
}

/* Styling Radioplayer-Buttons */
.radio-control img {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.news-element img,
.lautstaerke-elemente img {
    height: 20px;
    width: 20px;
    margin-right: 20px;
}

.lautstaerke-elementeNews {
    width: 100%;
    max-width: 200px;
}

.lautstaerke-elementeNews img {
    height: 20px;
    width: 20px;
    margin-right: 20px;
}

.news-element {
    display: flex;
    color: white;
}

.news-element-gaga {
    display: flex;
    color: white;
}

/* .album-cover {
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

.control-elemente {
    align-items: center;
    } */

/* vom Browser standartisert gestylter Container soll weg */
#radioPlayerNews {
    display: none;
}

.radio-player-container-news {
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.news-element,
.lautstaerke-elemente {
    width: 100%;
    max-width: 200px;
}

.lautstaerke-elemente {
    width: 100%;
    max-width: 200px;
}


.control-elemente {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.pause {
    display: none;
}

.pauseNews {
    display: none;
}

/* Play-Button Hover */
.play-button:hover {
    cursor: pointer;
}

/* Pause-Button Hover */
.pause-button:hover {
    cursor: pointer;
}

.ton-aus {
    cursor: pointer;
}

/* STYLING MENU MOBILE */
/* STYLING MENU MOBILE */
/* STYLING MENU MOBILE */

.x-rechts {
    display: none;
    cursor: pointer;
}

.hamburger {
    display: none;
}

/* Smartphone */
@media only screen and (max-width: 481px) {
    /* Globale Stile für mobile Geräte */


    /* .control-elemente {
    align-items: center;
    } */

    .radio-player-container {
        padding-top: 10px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 0.8em;
    }

    /* .radio-player-container {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.8em;
} */

    .styling-news-schrift-gaga {
        text-align: left;
    }

    .lautstaerke-elementeNews,
    .lautstaerke-elemente {
        display: none;
    }


    /* Radio Player-Anpassungen für kleine Bildschirme */
    .radio-player-container {
        text-align: center;
    }
}


/* Tablet */
@media only screen and (max-width: 1024px) {
    body {
        font-family: 'Nunito', sans-serif;
        /* Verwende die Google Font für den Text */
        margin: 0;
        padding-left: 10px;
        /* Linker Abstand */
        padding-right: 10px;
        /* Rechter Abstand */
    }
}