/* Variable für Farbe definieren */
:root {
    --pinker-hintergrund: #FA7ACD;
}

* {
    margin: 0;
    padding: 0;
}


/* Hintergrundfarbe */
body {
    background-color: #F8E7F1;
    font-family: "Nunito";
}

/* Schriftgrösse */
h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    line-height: 120%;
}

h3 {
    font-size: 1.5em;
    ;
}

p {
    font-size: 1em;
}

/* Styling Navigation Bar */
/* Styling Navigation Bar */
/* Styling Navigation Bar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
}

/* beim drüberhovern wird der Hintergrund schwarz */
li a:hover {
    color: white;
}

/* die Seite, auf der der User ist, wird hervorgehoben */
.active {
    background-color: #04AA6D;
}

.navigation {
    padding-top: 50px;
}

.styling-menu-bar {
    font-size: 1.2em;
}

/* Logo-Gestaltung in der Navigation */
.bild-logo {
    max-width: 10vw;
    height: auto;
}

/* Logo-Gestaltung Brief-Navigation */
.brief-front {
    max-height: 50px;
    padding: 5px;
    transition: all 0.2s ease-in;
}

.brief-front:hover {
    transform: scale(1.2);
}

/* Logo-Gestaltung Whatsapp-Navigation */
.whatsapp-front {
    max-height: 50px;
    padding: 5px;
}

.whatsapp-front:hover {
    transform: scale(1.2);
}

/* Logo-Gestaltung Brief */
.brief {
    max-height: 40px;
    padding: 5px;
}

.brief:hover {
    transform: scale(1.2);
}

/* Logo-Gestaltung whatsapp */
.whatsapp {
    max-height: 40px;
    padding: 5px;
}

.whatsapp:hover {
    transform: scale(1.2);
}

/* Logo-Gestaltung facebook */
.facebook {
    max-height: 40px;
    padding: 5px;
}

.facebook:hover {
    transform: scale(1.2);
}

/* Logo-Gestaltung x */
.x {
    max-height: 40px;
    padding: 5px;
}

.x:hover {
    transform: scale(1.2);
}

/* Logo-Gestaltung Kalender */
.zeit {
    max-height: 40px;
    padding: 5px;
}

.zeit:hover {
    max-height: 50px;
}

/* Logo-Gestaltung Ort */
.ort {
    max-height: 40px;
    padding: 5px;
}

.ort:hover {
    transform: scale(1.2);
}

/* Gestaltung header */
header {
    /*position: fixed;*/
    top: 0;
    background-color: var(--pinker-hintergrund);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    padding: 20px;
    align-items: end;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* so mache ich, dass Abstände zwischen den Artikeln sind */
    row-gap: 30px;
    column-gap: 30px;
    /* einmitten */

}

article {
    padding: 20px;
}

/* Hintergrund der News-Artikel (die pinken Kacheln) */
.news-artikel-hintergrund {
    background-color: var(--pinker-hintergrund);
}


/* Buttons "zum Artikel */
.button {
    text-decoration: none;
    background-color: #EEEEEE;
    color: black;
    padding: 8px;
    border: 1px solid black;
    border-radius: 10px;
    /* wenn ich einen sehr grossen button hätte würde es so nicht über den Rand gehen */
    display: inline-block;
    margin-top: 10px;
}

/* sobald man über den Button hovert gibt es eine andere Farbe */
.button:hover {
    background-color: black;
    color: white;
}

/* sobald man über den Button hovert gibt es eine andere Farbe */
.titel-hover:hover {
    color: white;
}

/* die Bilder werden so nicht verzogen */
img {
    max-width: 100%;
    width: auto;
    height: auto;
}

/* einmitten des ganzen Contents */
main {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Abstand zwischen Startseiten-Text und News-Beiträgen */
.text-startseite {
    margin-bottom: 30px;
}

/* mehr-laden Button zentrieren */
.mehr-laden {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Grid für die Event-Beiträge auf der Startseite */
.event-beitraege {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.artikel-1 {
    grid-area: 1 / 1 / 2 / 4;
}

.artikel-2 {
    grid-area: 2 / 1 / 3 / 2;
}

.artikel-3 {
    grid-area: 2 / 2 / 3 / 3;
}

.artikel-4 {
    grid-area: 2 / 3 / 3 / 4;
}

/* beim hovern über das Bild soll ein anderes Bild (mit der roten Nase) erscheinen */
.rote-nase-hovern {
    position: relative;
}

.original-bild {
    display: block;
}

.hover-bild {
    display: none;
    top: 0;
    left: 0;
}

.rote-nase-hovern:hover .original-bild {
    display: none;
}

.rote-nase-hovern:hover .hover-bild {
    display: block;
}

/* Name auf der Über uns-Seite zentrieren*/
.name-zentrieren {
    text-align: center;
}

.funktion-zentrieren {
    text-align: center;
}

.mitarbeiter-link {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

/* Grid-Styling ueber-mich Seite*/
.grid-ueber-mich {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.fakt1 {
    grid-area: 1 / 1 / 5 / 2;
}

.fakt2 {
    grid-area: 1 / 2 / 2 / 4;
}

.fakt3 {
    grid-area: 2 / 2 / 3 / 4;
}

.fakt4 {
    grid-area: 3 / 2 / 4 / 4;
}

.fakt5 {
    grid-area: 4 / 2 / 5 / 3;
}

.fakt6 {
    grid-area: 4 / 3 / 5 / 4;
}



/* Slideshow */
* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* Abstand zwischen den Icons und dem Wort "teilen" */
.abstand-teilen {
    padding-bottom: 10px;
}

/* Code, damit die neu geladenen Artikel auf der Startseite den gleichen Style haben wie die obrigen Artikel */
#additional-articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 30px;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Styling Dropdown-Menu */

/* dropdown button stylen*/
.dropdown .dropbtn {
    display: inline-block;
    cursor: pointer;
}

/* content vom Dropdown stylen(hidden by default) */
.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Style the dropdown links */
.dropdown .dropdown-content a {
    display: block;
    padding: 10px 12px;
    text-decoration: none;
    color: black;
    border: 1px solid transparent;
    /* Add a transparent border initially */
    transition: border 0.3s;
    /* Add a transition for a smooth effect */
}

/* Show the dropdown content when the button is hovered over */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Style the dropdown button */
.dropdown .dropbtn {
    display: inline-block;
    cursor: pointer;
}

/* Style the dropdown content (hidden by default) */
.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 300px;
    /* Adjust the width as needed */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Style the dropdown sections with titles */
.dropdown .dropdown-section {
    padding: 10px;
}

/* Style the section titles */
.dropdown .dropdown-section h3 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 1em;
}


/* Style the dropdown content (hidden by default) */
.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 300px;
    /* Adjust the width as needed */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Style the dropdown sections with titles */
.dropdown .dropdown-section {
    display: inline-block;
    vertical-align: top;
    /* Align sections vertically */
    padding: 10px;
}

/* Style the section titles */
.dropdown .dropdown-section h3 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 1em;
}

/* Style the dropdown links */
.dropdown .dropdown-section a {
    display: block;
    text-decoration: none;
    color: black;
    border: 1px solid transparent;
    transition: border 0.3s;
    padding: 5px 10px;
    /* Adjust padding as needed */
}

/* Change color on hover and add a black border */
.dropdown .dropdown-section a:hover {
    background-color: var(--pinker-hintergrund);
    border: 1px solid black;
}

.grid-event {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.ort {
    grid-area: 1 / 1 / 2 / 2;
}

.zeit {
    grid-area: 1 / 2 / 2 / 3;
}

.text-event {
    grid-area: 2 / 1 / 3 / 3;
}

/* Styling Footer */
footer {
    background-color: var(--pinker-hintergrund);
    color: black;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.footer-section {
    flex: 1;
    margin: 0 20px;
}

.footer-section h2 {
    font-size: 1.5rem;
}

.footer-section p {
    font-size: 1rem;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 10px;
}

.footer-section a {
    text-decoration: none;
    color: black;
}

.footer-bottom {
    text-align: center;
    background-color: white;
    padding: 10px 0;
}

/* Styling Quicklinks"*/
.quicklinks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    grid-area: 2 / 1 / 3 / 2;
}

/* alle sections im Footer sollen gleich gross sein*/
.footer-section {
    width: 20px;
}

.hidden {
    display: none;
}

/* Schrift auf der Slideshow auf der events-Seite*/
.event-schrift {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.event-schrift1 {
    grid-area: 1 / 1 / 2 / 3;
}

.event-schrift2 {
    grid-area: 2 / 1 / 3 / 2;
}

.event-schrift3 {
    grid-area: 2 / 2 / 3 / 3;
}

/* Schrift auf der Slideshow auf der events-Seite soll neben den Icons sein*/
.event-schrift2,
.event-schrift3 {
    display: flex;
    align-items: center;
}

/* Formatierung, dass die Elemente linksbündig sind*/
.formatierung-dropdown {
    text-align: left;
}

.portrait-morgenshow {
    max-width: 200px;
}

.moderatoren-morgenshow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.moderator1 {
    grid-area: 1 / 1 / 2 / 2;
}

.moderator2 {
    grid-area: 1 / 2 / 2 / 3;
}

.name-moderator1 {
    grid-area: 2 / 1 / 3 / 2;
}

.funktion-moderator1 {
    grid-area: 2 / 2 / 3 / 3;
}

.name-moderator2 {
    grid-area: 3 / 1 / 4 / 2;
}

.funktion-moderator2 {
    grid-area: 3 / 2 / 4 / 3;
}

.layout-morgenshow-moderator {
    text-align: center;
}

#radioPlayerContainer {
    display: none;
}

#radioPlayer {
    width: 100%;
    /* Vollständige Breite des Containers verwenden */
}

/* Styling Radioplayer-Buttons */
.radio-control img{
    max-height: 20px;
    max-width: 20px;
}

/* Layout des Radio Players */
.layout-radio-player { 
    display: grid; 
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: 1fr; 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    }
    .play { grid-area: 1 / 1 / 2 / 2; } 
    .pause { grid-area: 1 / 2 / 2 / 3; } 
    .stop { grid-area: 1 / 3 / 2 / 4; } 
    .rueckwaerts { grid-area: 1 / 4 / 2 / 5; } 
    .vorwaerts { grid-area: 1 / 5 / 2 / 6; } 

    .radio-player-container {
        padding: 20px;
        background-color: black;
    }









/* Tablet */
@media only screen and (max-width: 1024px) {
    body {
        background-color: lightblue;
    }
}

/* Smartphone */
@media only screen and (max-width: 481px) {
    body {
        background-color: green;
    }
}